$white: #fff;
$off-white: #eaeff3;

$orange-light: #f9a94a;
$orange: #f8872b;
$orange-dark: #f8872b;
$orange-darker: #f8872b;
$orange-darkest: #f8872b;

$blue-light: #4a90e2;
$blue: #007aff;
$blue-dark: #007aff;
$blue-darker: #007aff;
$blue-darkest:  #073e72;

$green-light: #7ed321;
$green: #4cd964;
$green-dark: #4cd964;
$green-darker: #4cd964;
$green-darkest: #4cd964;

$red-light: #ff3b30;
$red: #ff2d55;
$red-dark: #ff2d55;
$red-darker: #ff2d55;
$red-darkest: #ff2d55;

$gray-light: #8e8e93;
$gray: #c7c7cc;
$gray-dark: #c7c7cc;
$gray-darker: #c7c7cc;
$gray-darkest: #c7c7cc;

$black-light: #48484a;  
$black: #000;

$primary: $blue;
$secondary: $gray;
$success: $green;
$info: $blue;
$warning: $orange;
$danger: $red;
$light: $gray-light;
$dark: $gray-darker;

$background: $white;
$foreground: $black;

$border: $gray-light;

$shadow: rgba(0, 0, 0, .1);

// TODO: ....


// Primary colors
$color-white: rgba(255, 255, 255, 1);
$color-black: rgba(0, 0, 0, 1);
$color-primary: #001eff;
$color-secondary: rgba(22, 32, 44, 1);

// Error & Messaging
$color-success: #187b52;
$color-warning: rgba(255, 168, 0, 1);
$color-danger: rgba(230, 20, 20, 1);
$color-promo: rgba(163, 131, 67, 1);

// Tones of main colors
$color-white-400: $color-white;

$color-black-400: $color-black;

$color-primary-400: $color-primary;
$color-primary-300: #2384ce;
$color-primary-200: lighten($color-primary, 20%);
$color-primary-100: lighten($color-primary, 40%);
$color-primary-50: #ddeaf5;

$color-secondary-blue-300: #00118f;
$color-secondary-blue-200: #0015b8;
$color-secondary-blue-80: #ebf6ff;

$color-secondary-400: $color-secondary;

$color-gray-700: #3d3d3d;
$color-gray-600: #666666;
$color-gray-400: #aaaeb2;
$color-gray-200: #e0e0e0;
$color-gray-150: #f0f0f0;
$color-gray-100: #f5f5f5;
$color-gray-90: #4e5056;
$color-gray-60: #fcfcfc;

// Tones of message colors
$color-success-400: $color-success;

$color-warning-400: $color-warning;

$color-danger-400: $color-danger;

$color-promo-400: $color-promo;

// Mapping
$color-main-text: $color-black;
$color-main-background: $color-white;
$color-main-foreground: $color-gray-400;

$color-orange: #ee7a2d;
$color-purple: #94769d;
$color-pink: #fde8ea;
$color-brown: #807372;
$color-dark-green: #05a4a8;

$color-grey-400: #545d59;
$color-grey-300: #5a6872;

$color-blue-600: #16202c;
$color-blue-500: #1d3a4c;
$color-blue-400: #305c74;
$color-blue: #5aaafa;
$color-blue-300: #6a88aa;
$color-blue-200: #aedcff;
$color-blue-80: #ebf6ff;

//Mapping Reuters news feed only
$color-teal: #39c69c;
$color-mauve: #472574;
$color-yellow: #ffde66;

//dark theme
$color-dark-text: $color-white;
$color-dark-background: $color-black;

//continent colors
$color-europe: #010b55;
$color-asia: #0115aa;
$color-africa: #0220ff;
$color-oceania: #576aff;
$color-south-america: #aab5ff;

