$white: #fff;
$off-white: #eaeff3;

$orange-light: #f9a94a;
$orange: #f8872b;
$orange-dark: #f8872b;
$orange-darker: #f8872b;
$orange-darkest: #f8872b;

$blue-light: #4a90e2;
$blue: #007aff;
$blue-dark: #007aff;
$blue-darker: #007aff;
$blue-darkest:  #073e72;

$green-light: #7ed321;
$green: #4cd964;
$green-dark: #4cd964;
$green-darker: #4cd964;
$green-darkest: #4cd964;

$red-light: #ff3b30;
$red: #ff2d55;
$red-dark: #ff2d55;
$red-darker: #ff2d55;
$red-darkest: #ff2d55;

$gray-light: #8e8e93;
$gray: #c7c7cc;
$gray-dark: #c7c7cc;
$gray-darker: #c7c7cc;
$gray-darkest: #c7c7cc;

$black-light: #48484a;  
$black: #000;

$primary: $blue;
$secondary: $gray;
$success: $green;
$info: $blue;
$warning: $orange;
$danger: $red;
$light: $gray-light;
$dark: $gray-darker;

$background: $white;
$foreground: $black;

$border: $gray-light;




$shadow: rgba(0, 0, 0, .1);
