/* Default Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Mukta', sans-serif;
}

html {
    font-size: 62.5%;
}
/* End of Default Styles */